.img{
padding-left: 460px;
}
.p1{
    padding-left: 350px;
    font-size: 38px;
    font-weight: bold;
}
.p2{
    padding-left: 340px;
    font: 20px;
}
.p3{
    padding-left: 30px;
}
.p4{
    padding-left: 510px;

}
.p5{
    padding-left: 390px;  
}
.copyright{
    padding-left: 570px;
}
.icon{
    padding-left: 480px;
    letter-spacing: 7px;
    float: left;
}
